*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-image: url("#{resource['images:back.png']}");
    background-position: top, left;
    background-size: 100% auto;
    background-repeat: no-repeat
}
/* -------------------------------- DIVY --------------------------------------- */
#nav {
    width: 100%;
    height: 100px;
    background: rgb(43, 43, 43);
}
nav {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    color: white;
}
nav img {
    float: left;
    height: 100px;
    margin: -3px 0 0 10px;
}
nav .lvl {
    float: right;
    height: 80px;
    position: absolute;
    left: calc(50% + 510px);
    top: 10px;
}
nav a{
    color: white;
}
nav a:visited {
    color: white;
}
nav ol {
    min-width: 500px;
    display: block;
    border-top: solid 2px rgb(197, 197, 197);
    margin-top: 15px;
    padding-top: 10px;
    float: right;
}
nav ol li{
    list-style-type: none;
}
nav ol {
    list-style: none;
    font-size: 1.25em;
}
nav ol > li {
    margin: 7px 0 0 0;
    padding: 0;
    float: left; 
    position: relative;
    height: 30px;
}
nav ol > li > a, ol > li > a:visited {
    padding: 0 18px; 
    color: #bbbbbb;
    text-decoration: none;
}
nav ol > li > a.activ:hover {
    color: cornflowerblue;
    cursor: pointer;
}
section {
    width: 100%;
    height: 88px;
    padding: 5px 0 20px 0;
    display: block;
    text-align: center;
    overflow: hidden;
    background: rgb(243, 243, 243);
    margin-top: 1px;
}
section a{
    display: inline-block;
    margin: 10px 3%;
    width: max-content;
    height: max-content;
}
section a img {
    width: 80px;
}
/* -------------------------------- menu nav --------------------------------------- */
div#login {
    min-width: 600px;
    margin: 5px 10px 0 0;
    text-align: right;
    font-size: 1.2em;
    color: #bbbbbb;
    float: right;
}
font.w {
    color: rgb(138, 75, 197);
    font-style: italic;
}
font.e {
    font-style: italic;
}
.poll:disabled {
     background: #cccccc;
}
.wyloguj {
    display: block;
    color: white !IMPORTANT;
    background: rgb(41, 138, 194);
    border-radius: 5px;
    width: max-content;
    height: 17px;
    padding: 3px 5px;
    text-decoration:none;
    text-align: center;
    float: right;
    margin: 0 0 0 10px;
    margin-top: -2px;
}
.wyloguj:hover {
    background: rgb(79, 171, 224);
}
.wyloguj:visited {
    color: white;
}

/* -------------------------------- content --------------------------------------- */
#content{
	widtH: 1120px;
	margin: 0 auto;
	padding: 20px 40px;
	border-lefT: solid 1px grey;
	border-right: solid 1px grey;
	min-height: calc(100vh - 175px);
	background: #eee;
}
#content .ui-panel{
	margin: 20px 0;
}
.right{
	float: right;
	margin-righT: 15px;
}


.logon {
    line-height: 35px;
    width: 300px;
    margin: 10px 0;
    text-align: center;
    font-family: "Inconsolata",monospace;
    color: black;
    border: solid 2px grey;
    font-size: 20px;
}
.logimg{
    width: 25px;
    vertical-align: middle;
    opacity: 0.5;
 	 margin-right: 5px;
}
.logform{
	margin: 0 auto;
	width: max-content;
}
.logform h1{
	text-align: center;
	font-weighT: normal;
}
.logsub{
	color: white;
	background: #636363;
	padding: 10px 15px;
	margin: 0 auto;
	bordeR: none;
	font-size: 1.2em;
	text-align: center;
}

/* -------------------------------- footer --------------------------------------- */
#footer{
	widtH: 1162px;
	background: #434343;
	color: white;
	padding: 0 20px;
	line-heighT: 35px;
	heighT: 35px;
	margin: 0 auto;
	font-size: 1.2em;
}
